<footer class="footer bg-dark text-white p-4">
  <div class="footer-grid">
    <!-- Ligne 1 -->
    <div class="footer-column">
      <a routerLink="/accueil" class="footer-link">Accueil</a>
    </div>
    <div class="footer-column">
      <a routerLink="/connexion" class="footer-link">Connexion</a>
    </div>
    
    <div class="footer-column">
      <a href="https://facebook.com" target="_blank" class="footer-link">Facebook</a>
    </div>
    <!-- Ligne 2 -->
    <div class="footer-column">
      <a routerLink="/quartiers" class="footer-link">Quartiers</a>
    </div>
    <div class="footer-column">
      <a routerLink="/maisons" class="footer-link">Maisons</a>
    </div>
    
    <div class="footer-column">
      <a href="https://twitter.com" target="_blank" class="footer-link">Twitter</a>
    </div>
    <!-- Ligne 3 -->
    <div class="footer-column">
      <a routerLink="/deconnexion" class="footer-link">Déconnexion</a>
    </div>
    <div class="footer-column">
      <a routerLink="/categories" class="footer-link">Catégories</a>
    </div>
    <div class="footer-column">
      <a href="https://instagram.com" target="_blank" class="footer-link">Instagram</a>
    </div>
  </div>
  <div style="background-color: white; height: 1px;"></div>
  <p>By Carel N'jille Copyright &#64; 2025</p>
</footer>